In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [21]:
# Define the data path with double backslashes or forward slashes
data_path = 'C:\\Users\\uig38452\\Master Thesis\\Data Recording\\all_data_LSB\\No_Motion\\No_Motion_2.csv'

# Load your CSV file into a DataFrame
data = pd.read_csv(data_path)

# Calculate the time axis based on a sampling frequency of 1000 Hz
sampling_frequency = 1000  # 1000 Hz
total_samples = len(data)
time_column = [i / sampling_frequency for i in range(total_samples)]

# List of column names
column_names = ['AX_LSB', 'AY_LSB', 'AZ_LSB', 'GX_LSB', 'GY_LSB', 'GZ_LSB']

In [24]:
#Pitch 
data['orientation_in_x'] = np.rad2deg(np.arctan2(data['AZ_LSB'], data['AY_LSB']))
data.head()

   AX_LSB  AY_LSB  AZ_LSB  GX_LSB  GY_LSB  GZ_LSB  orientation_in_x
0     108  -16292   -1548     -75      91       4       -174.572281
1     172  -16288   -1568     -74      89       5       -174.501241
2     176  -16252   -1576     -70      84       3       -174.461193
3      88  -16244   -1544     -67      84       3       -174.570321
4     112  -16268   -1568     -67      84       7       -174.494522

In [27]:
#Yaw
data['orientation_in_z'] = np.rad2deg(np.arctan2(data['AX_LSB'], data['AY_LSB']))
data.head()

,AX_LSB,AY_LSB,AZ_LSB,GX_LSB,GY_LSB,GZ_LSB,orientation_in_x,orientation_in_z
0,108,-16292,-1548,-75,91,4,-174.572281,179.620191
1,172,-16288,-1568,-74,89,5,-174.501241,179.394984
2,176,-16252,-1576,-70,84,3,-174.461193,179.379543
3,88,-16244,-1544,-67,84,3,-174.570321,179.689610
4,112,-16268,-1568,-67,84,7,-174.494522,179.605543